<div class="container my-4">
  <h2>Tu Carrito</h2>
  <div *ngIf="cartProducts.length === 0" class="text-center my-5">
    <p>¡Tu carrito está vacío!</p>
  </div>

  <div *ngFor="let product of cartProducts" class="row align-items-center mb-3">
    <div class="col-md-2">
      <img
        [src]="product.imageUrl"
        alt="{{ product.productName }}"
        class="img-fluid"
      />
    </div>

    <div class="col-md-4">
      <h5>{{ product.productName }}</h5>
      <p class="text-muted">{{ product.description }}</p>
    </div>

    <div class="col-md-2">
      <strong>Precio Unitario: </strong>
      S/ {{
        cart[product.productId!].discountedPrice
          | number:'1.2-2'
      }}
    </div>

    <div class="col-md-2 d-flex align-items-center gap-2">
      <button
        class="btn btn-sm btn-secondary"
        (click)="decrement(product.productId!)"
      >
        -
      </button>
      <span>{{ cart[product.productId!].quantity }}</span>
      <button
        class="btn btn-sm btn-secondary"
        (click)="increment(product.productId!)"
      >
        +
      </button>
    </div>

    <div class="col-md-2">
      <button
        class="btn btn-sm btn-danger"
        (click)="remove(product.productId!)"
      >
        Eliminar
      </button>
    </div>
  </div>

  <div *ngIf="cartProducts.length > 0" class="mt-4 text-end">
    <h4>
      Total: S/ {{ totalAmount | number:'1.2-2' }}
    </h4>
    <button class="btn btn-success btn-lg" (click)="checkout()">
      Pagar
    </button>
  </div>
</div>
